<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
  <title>Artists</title>
</head>
<body>
{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <div class="mb-3 me-1 row">
      <h1 class="h3 col-md-11">Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card">
          <div class="card-body">
            <h5 class="h6 card-title">Analytics & Metrics</h5>
            Dashboard content goes here!
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
</body>
</html>